*{
    box-sizing: border-box;
}
body{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.todo-container{
    width: 600px;
    margin: 30px auto 0px;
    background-color: #f6f6f6;
}

.todo-container .add-task{
    /* width: calc(100%-15px); */
    padding: 15px; 
    background-color: #009688;
    position: relative;
}

.todo-container .add-task input{
    display: inline-block;
    width: calc(100% - 15px);
    padding: 10px 15px;
    border: none;
    background-color: rgba(255,255,255,0.3);
    color: #fff;
    font-size: 20px;
}

.todo-container .add-task input:focus{
    outline: none;
}
.todo-container .add-task .plus{
    position: absolute;
    right: 15px;
    height: 45px;
    width: 45px;
    background-color: #fff;
    color: #009688;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.5s;
}

.todo-container .add-task .plus:hover{
    transform: rotate(90deg);
}

.tasks-content{
    padding: 15px;
}
.tasks-content .no-tasks-message{
    padding: 10px 0px;
    color: #777;
    font-size: 16px;
}

.tasks-content > span{
    display: block;
    background-color: #fff;
    padding: 10px;
}
.tasks-content > span:not(:last-child){
    margin-bottom: 10px;
}

.tasks-content .task-box .delete{
    float: right;
    background-color: #E91E63;
    padding: 4px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.tasks-content .task-box .finished{
    text-decoration: line-through;
}

.task-stats{
    overflow: hidden;
    margin: 10px auto;
    width: 600px;
    font-size: 12px;
}

.task-stats .tasks-count{
    width: 25%;
    float: left;
    padding: 10px;
}

.task-stats .delete-all{
    width: 20%;
    float: left;
    padding: 10px;
    background-color: #E91E63;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.task-stats .finish-all{
    width: 20%;
    float: right;
    padding: 10px;
    background-color: #03a9f4;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.task-stats .task-completed{
    width: 25%;
    float: right;
    padding: 10px;
    text-align: end;
}
.task-stats .tasks-count span,
.task-stats .task-completed span{
    padding: 1px 5px;
    color: #fff;
    font-size: 10px;
    border-radius: 4px;
    font-weight: bold;
} 

.task-stats .tasks-count span{
    background-color: #E91E63;
}
.task-stats .task-completed span{
    background-color: #03a9f4;
}

